.user-image{
    display: none;
}
.label-picture{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px ;
    background-color: rgb(255, 189, 231);
    cursor: pointer;
}
.profile-card{
    display:flex;
    flex-direction: column;
}
.disabled-input{
    background-color: rgb(255, 189, 231);
    
}